<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/siteshkumarvishwakarma/IdeaProjects/MobileDeskAPUI/src/test/java/Steps/API/APIStepTest.java"><classes><class name="Steps.API.APIStepTest"><methods><include name="getSessionStorags_1"/><include name="getSessionStorage_2"/></methods></class></classes></test></suite>